.edit-containers {
    height: 80vh;
    background-color: rgba(17, 22, 51, 0.71);
    color: white;
    border-radius: 22px;
}

#browseContainer {
    overflow-y: scroll;
    background-color: #0089F1;
}

#playlistContainer {
    overflow-y: scroll;
    background-color:#EF0195;
}

h1 {
    padding-top: 10px;
}

.songName{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.song {
    padding: 5px;
    background-color: white;
}

.artists {
    font-size: 12px;
    color: black;
}

button{
    margin-top: 7px;
}

.song:hover {
    background-color: rgb(226, 226, 226);
}

.playlistsong:nth-child(1) {
    background-color: rgb(163, 162, 162);
    opacity: .85;
    cursor: not-allowed;
}

.playlistsong:nth-child(1) button {
    pointer-events: none;
    opacity: .65
}
